<!-- Theres no doctype or title etc.in this file Which is typically on EVERY HTML file that we write like the base.html file. Instead we have the content for the middle of our page in this file. The starting code and the navbar code is in base.html. Whats going on here is something called extending, The home page will have a nav bar, the about me page, contact us page etc. It is going to be a lot easier to do it ths way (extending) without having to write the same code multiple times to have a navbar on multiple pages. The synatx below will begin the extending process-->

{% extends 'base.html' %}

{% block content %} <!-- This is how jinja talks using these symbols, and how were able to run python inside of our HTML. This is called block content, and what you want inside of your block. CHECK base.html for similar block code -->
<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Your Phonebook</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../../static/images/undraw_contact_us_15o2.svg" class = "img-fluid p-5" alt="Contact Us Image">
            </div>
        </div>
    </div>
</section>
{% endblock %} <!-- This is how jinja talks using these symbols, and how were able to run python inside of our HTML -->